[submodule "components/sra-board-component"]
	path = components/sra-board-component
  url = https://github.com/RISHI27-dot/sra-board-component.git
  branch = adc-test-branch
[submodule "8_self_balancing/components/websocket"]
	path = 8_self_balancing/components/websocket
	url = https://github.com/Molorius/esp32-websocket.git
